<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Caixa" icon-off="ion-cash" icon-on="ion-cash" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Entradas" icon-off="ion-android-add" icon-on="ion-android-add" href="#/tab/entradas">
    <ion-nav-view name="tab-entradas"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Saidas" icon-off="ion-android-remove" icon-on="ion-android-remove" href="#/tab/saidas">
    <ion-nav-view name="tab-saidas"></ion-nav-view>
  </ion-tab>


</ion-tabs>
