/* Empty. Add your own CSS if you like */

input{
  border: 1px solid #ccc!important;
  border-radius: 6px;
  width: 100%;
  padding: 6px!important;
}

button{
  background-color: #ccc;
  border-radius: 6px;
  padding: 10px;
  min-width: 100px;
}

#listaEntradas{
  margin-top: 20px;
  text-align: center;
}

#listaEntradas .btn-excluir{
  background-color: #941818;
  color: #fff;
}

#listaEntradas .btn-alterar{
  background-color: #0f749a;
  color: #fff;
}


.title.title-left.header-item{
  text-align: center;
}

.verde{
  color: green;
}

.vermelho{
  color: red;
}

textarea{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  min-height: 60px;
}